.paginate-container {
    display: flex;
    justify-content: center;
    margin: 80px auto;
    list-style: none;

}


.paginate-container .page-num {
    margin: 0 10px;
    font-size: 1.1em;
    padding: 8px 15px;
    font-weight: bold;
    border: 1px solid #3DB070;
}


.active,
.paginate-container .page-num:hover {
    background-color: #3DB070;
    color: white;

}